Repository moranje/alfred-workflow-todoist: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

.lintstagedrc:

{
  "**/*.{ts,js,json,md,yml}": [
    "npx prettier \"!(dist)/**/*\" --write",
    "git add"
  ],
  "{src,tools}/**/*.{ts,js}": [
    "npx eslint . --fix",
    "git add"
  ]
}

chore: update build files
  tools/build.ts
  tools/debug.ts
  tools/move-files.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

chore: stricter linting setup
  .eslintrc.yml
  .lintstagedrc
  package.json
Due: npx prettier "!(dist)/**/*" --write

chore: fix aplha branch name spelling mistake
  .releaserc
Due: none

build: fix branch alpha not being triggered in travis
  .travis.yml
Due: npx prettier "!(dist)/**/*" --write

chore: remove out-of-sync package-lock.json
  package-lock.json
Due: npx prettier "!(dist)/**/*" --write

feat(project): provide a useful error as a list item when node.js is not installed
  dist/workflow/check-node.sh
  dist/workflow/info.plist
Due: none

chore: remove terminal notifier from repository
  dist/workflow/notifier/terminal-notifier.app/Contents/Info.plist
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
Due: none

chore: fix failing pre-commit linting hook
  .huskyrc
  .lintstagedrc
Due: none

chore: remove redundant git add from pre-commit hooks
  .lintstagedrc
Due: none

chore(project): update problematic linting settings
  .eslintrc.yml
  tsconfig.json
Due: npx prettier "!(dist)/**/*" --write

chore: remove redundant typings.d.ts
  src/typings.d.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

build(project): fix build tools
  assets/check-node.sh
  assets/icon.png
  assets/info.plist
  assets/workflow.json
  tools/build.ts
  tools/move-files.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

chore: clean npm install on git checkout
  .huskyrc
Due: none

build: fix build errors
  package-lock.json
  package.json
  tsconfig.json
Due: npx prettier "!(dist)/**/*" --write

build: fix failing build on node.js 10
  rollup.config.ts
Due: npx prettier "!(dist)/**/*" --write

test: lower coverage requirements for alpha branch
  jest.config.js
Due: npx prettier "!(dist)/**/*" --write

chore: update build scripts
  tools/build-workflow.ts
  tools/build.ts
  tools/bump-version.ts
  tools/debug.ts
  tools/move-files.ts
  tools/semantic-release-prepare.ts
  tools/setup.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

chore: minor changes to rollup config
  babel.config.js
  package-lock.json
  package.json
  rollup.config.ts
  tsconfig.json
Due: npx prettier "!(dist)/**/*" --write

chore: fix missing dependency
  package-lock.json
Due: npx prettier "!(dist)/**/*" --write

chore: better guarding of presence of parent project in section list
  src/lib/commands/helpers.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

refactor: more succint cli args parsing
  src/lib/cli-args.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

chore: remove browserlistrc
  .browserslistrc
Due: none

chore: fix failing rollup config on node 10
  rollup.config.ts
Due: npx prettier "!(dist)/**/*" --write

chore: fix build failing over zip library types missing
  package.json
  tools/build-workflow.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

chore: update deps
  package.json
  tsconfig.json
Due: npx prettier "!(dist)/**/*" --write

build: change order build are run, starting with latest node.js
  .travis.yml
Due: npx prettier "!(dist)/**/*" --write

chore: fix package-lock.json being out of sync
  package-lock.json
Due: npx prettier "!(dist)/**/*" --write

chore(release): 6.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/workflow.json
  package-lock.json
  package.json
Due: npx prettier "!(dist)/**/*" --write

Notes added by 'git notes add'
  e51cfda23e26d13cd05ccc649f6994da48ea6021
Due: none

fix(build): possibly fix version number not updated in alfred workflow
  tools/build-workflow.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

chore(release): 6.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  dist/workflow/workflow.json
  package-lock.json
  package.json
Due: npx prettier "!(dist)/**/*" --write

Notes added by 'git notes add'
  72bf5134b3af8aa7f1e00e9421502481e7d22792
Due: none

chore: refactor app entry, prepare for toplevel await
  src/alfred-workflow-todoist.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

improvement(todoist): use `task.url` again after Todoist fixed their API
  src/lib/commands/create.ts
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix

fix: alfred workflow version is the same as the release version again
  .releaserc
Due: none

chore(release): 6.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  dist/Alfred Workflow Todoist.alfredworkflow
  dist/workflow/info.plist
  dist/workflow/workflow.json
  package-lock.json
  package.json
Due: npx prettier "!(dist)/**/*" --write

Notes added by 'git notes add'
  97c75522e605655b8d4a388fb0e09bdc7b71ca3c
Due: none

chore: upload sourcemaps to sentry on release
  .releaserc
Due: none

chore: upload sourcemaps to sentry on release
  .releaserc
  tools/build.ts
  tools/sentry-release.sh
Due: npx prettier "!(dist)/**/*" --write, npx eslint . --fix
