Repository moranje/alfred-workflow-todoist: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

.lintstagedrc:

{
  "**/*.{ts,js,json,yml}": [
    "npm run lint:prettier"
  ],
  "*.md": [
    "npm run lint:prettier"
  ],
  "src/**/*.{ts,js}": [
    "npm run lint:eslint",
    "npm run lint:prettier",
    "npm run test:unit:file"
  ]
}

[CodeFactor] Apply fixes to commit eead35c
  src/project/settings-schema.ts
  src/project/settings.ts
  src/todoist/label.ts
  src/todoist/project.ts
  src/todoist/query.ts
  src/todoist/rest-api-v8.ts
  src/todoist/task.ts
  src/workflow/item.ts
  src/workflow/list.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

build: fix uploading sourcemaps to sentry during build
  package-lock.json
  package.json
Due: npm run lint:prettier

fix(todoist): task cache not being refreshed
  .eslintrc.js
  assets/info.plist
  package-lock.json
  package.json
  src/lib/todoist/index.ts
  src/lib/todoist/local-rest-adapter/local-task-adapter.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

chore: enable expiring todo comments
  .eslintrc.js
  package.json
  src/lib/commands/read.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

chore: move to local cz-customizable without git commit support
  .huskyrc
  package.json
  tools/setup.ts
Due: npm run lint:prettier

fix: api filter requests being broken
  .releaserc
  package-lock.json
  package.json
Due: npm run lint:prettier

build: remove temporary files from repo
  dist/workflow/check-node.sh
  dist/workflow/icon.png
  dist/workflow/info.plist
  dist/workflow/notifier/terminal-notifier.app/Contents/PkgInfo
  dist/workflow/notifier/terminal-notifier.app/Contents/Resources/Terminal.icns
  dist/workflow/notifier/terminal-notifier.app/Contents/Resources/en.lproj/Credits.rtf
  dist/workflow/notifier/terminal-notifier.app/Contents/Resources/en.lproj/InfoPlist.strings
  dist/workflow/notifier/terminal-notifier.app/Contents/Resources/en.lproj/MainMenu.nib
Due: none

build: remove redundent file moving calls
  package.json
  tools/move-files.ts
Due: npm run lint:prettier

build: temporarily enable dist folder in .gitignore
  .gitignore
Due: none

chore(release): 6.0.0-alpha.10 [skip ci]
  CHANGELOG.md
  assets/info.plist
  dist/Alfred Workflow Todoist.alfredworkflow
  package-lock.json
  package.json
Due: npm run lint:prettier

Notes added by 'git notes add'
  b7bcb39fe3aaab8269cea822ddba02e567a47fa7
Due: none

fix(settings): rename annonymous_statistics to error_tracking
  .eslintrc.js
  README.md
  src/lib/commands/read-settings.ts
  src/lib/sentry.ts
  src/lib/stores/__mocks__/settings-store.ts
  src/lib/stores/settings-store.ts
  src/lib/tests/logger.ts
  src/lib/tests/sentry.ts
  src/tests/read-settings.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

chore: clarify comment further
  src/lib/error.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

chore: expiring comment
  tools/debug.ts
Due: npm run lint:prettier

chore: update setup script
  tools/setup.ts
Due: npm run lint:prettier

chore(release): 6.0.0-beta.1 [skip ci]
  CHANGELOG.md
  assets/info.plist
  dist/Alfred Workflow Todoist.alfredworkflow
  package-lock.json
  package.json
Due: npm run lint:prettier

Notes added by 'git notes add'
  27855a408b440002c1944133f127a29df1aab5f6
Due: none

docs: remove alpha releases from the changelog
  CHANGELOG.md
Due: npm run lint:prettier

build: hopefully fix failing build
  .github/workflows/build.yml
  .releaserc
  tools/sentry-release.sh
Due: npm run lint:prettier

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npm run lint:prettier

Fix small typo in README
  README.md
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit 569631f
  cz-config.js
  typedoc.js
Due: npm run lint:prettier

fix for 'Couldn't update workflow' ; couldn't read property 'length' of null
  src/project/command.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

[CodeFactor] Apply fixes to commit b8293be
  cz-config.js
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit bc4f3dc
  cz-config.js
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit 1427619
  cz-config.js
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit a42f3f4
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit f556a1a
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit a954c36
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit ca6e64d
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit 962f288
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit 7af2821
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

[CodeFactor] Apply fixes to commit 513f8d8
  cz-config.js
  dist/workflow/notifier/terminal-notifier.app/Contents/MacOS/terminal-notifier
  typedoc.js
Due: npm run lint:prettier

style: satisfy linter variable casing
  src/project/command.ts
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file

[CodeFactor] Apply fixes to commit 9a2d38d
  __mocks__/node-notifier.ts
  cz-config.js
  rollup.config.ts
  src/alfred-workflow-todoist.ts
  src/project/__mocks__/files.ts
  src/project/cache.ts
  src/project/command.ts
  src/project/environment.ts
  src/project/error.ts
  src/project/files.ts
  src/project/index.ts
  src/project/settings-schema.ts
  src/project/settings.ts
  src/todoist/label.ts
  src/todoist/parser.ts
  src/todoist/project.ts
  src/todoist/query.ts
  src/todoist/rest-api-v8.ts
  src/todoist/task.ts
  src/workflow/__mocks__/notifier.ts
  src/workflow/index.ts
  src/workflow/item.ts
  src/workflow/list.ts
  src/workflow/notification.ts
  src/workflow/view.ts
  src/workflow/writable.ts
  test/helpers/nock-requests.ts
  test/integration.spec.ts
  test/lexer.spec.ts
  test/settings.spec.ts
  tools/build-workflow.ts
  tools/build.ts
  tools/bump-version.ts
  tools/debug.ts
  tools/move-files.ts
  tools/setup.ts
  typedoc.js
Due: npm run lint:prettier, npm run lint:eslint, npm run test:unit:file
